.body{  /*da li i u nekretninama i sl. treba da imaju margine sa strane?!*/
    background-color: #fdf1d3;    
}
.alignment{
    margin-left: 5%;
    margin-right: 5%;
}
.centerAlign{
display: flex;
justify-content: center; 
}
.details{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 5%;
}
.pos{
    margin-bottom: 5%;
}
.posSubheading{
    margin-bottom: 3%;
}
.pos2{
    margin-top: 5%;
}
ul{
    list-style: none;
    padding: 0;
}
li{
    margin: 0;
}
.upit{
    border: 1px solid black;
    background-color: white;
    width: 100%;
    height: fit-content;
    padding: 2% 2% 1% 1%;
}