body{
  background-color: #fdf1d3;
}
input{
  float: right;
}
label{
  float: left;
}
.centerAlign{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: -3%;
}
.info{
  margin-top: 40%;
  width: 26%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 110px;
  row-gap: 40px;
}
input{ /*provjeriti smijem li koristiti input? Da*/
  width: 180px;
  height: 50px;
  border: none;
  cursor: not-allowed;
  background-color: white;
  box-shadow: 2px 2px 1px grey;
}
label{
  margin: auto 0;
}
img{
  height: 200px;
  width: 180px;
}
.imgPos{
  margin-top: 35%;
  margin-bottom: 10%;
}
.meniPos{
  position: fixed; 
  right: 0; 
  left: 0; 
  top:0; 
  bottom:0; border:0;
  width: 100%;
  height: 70px;
}
@media(min-width: 500px){
  .imgPos{
    display: inline;
    float: left;
    margin-top: 40%;
    margin-right: 10%;
  }
}