body{
  background-color: #fdf1d3;
}
input{
  float: right;
}
label{
  float: left;
}
.centerAlign{
  display: flex;
  justify-content: center;
  margin-bottom: 10%;
  margin-top: -3%;
}
.info{
  width: 26%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 110px;
  row-gap: 40px;
}
input{ /*provjeriti smijem li koristiti input? Da*/
  width: 180px;
  height: 50px;
  border: none;
  cursor: not-allowed;
  background-color: white;
  box-shadow: 2px 2px 1px grey;
}
label{
  margin: auto 0;
}
img{
  height: 200px;
  width: 180px;
}
.imgPos{
  margin-top: 16%;
  margin-bottom: 10%;
}