    body{
        background-color: #fdf1d3;
        font-size: larger;
      }
      #meni{
      display: flex;
      margin-top: 0;
      width: 100%;
      height: min-content;
      margin-left: -2%;
      margin-right: 0%;
      float: left;
      }
      ul{
      width: 100%;
      list-style-type: none;
      }   
      li{
      display:inline;
      color: blue;
      }
      a:hover{
        color: #ff9900;  
      }
      a{
        margin-right: 1.5%;
        font-weight: bold;
        text-decoration: none;
      }