    body{
        min-width: 400px; 
        background-color: #fdf1d3;
    }
    .alignment{
        margin-left: 5%;
        margin-right: 5%;
    }
    .details{
      display: grid;
      width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
      column-gap: 20px;
      row-gap: 20px;
    }
    .subdetails{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
    .leftAlign{
      float: left;
      margin-left: 20px;
    }
    .rigthAlign{
      float: right;
      margin-left: 30px;
    }
    .detailsButton{ /*smijem li margine dodati? Da*/
      padding-bottom: 5%;
      padding-top: 5%;
      padding-left: 10%;
      padding-right: 10%;
    }
    .pictures{
        width: 300px; 
        height: 200px; 
    }
    .centerAlignText{
        text-align: center;
    }
    .centerAlign{
    display: flex; 
    justify-content: center; 
    }
    .stan{
        background-color: white;
    }
    .kuca{
        background-color: powderblue;
    }
    .pp{
        background-color: green;
    }
    .centerAlign2{
        margin: 0 auto;
    }
    .meniPos{
        position: fixed; 
        right: 0; 
        left: 0; 
        top:0; 
        bottom:0; border:0;
        width: 100%;
        height: 70px;
    }
    .stanPos{
        margin-top: 2%;
    }
    .filtriranje{
        margin-top: 8%;
        margin-left: 8%;
    }
    .klikoviPos{
        margin-left: 20px;
    }
    .filtrirajBttn{
    margin-left: 45%;
    margin-top: 2%; 
    }
    